<div class="alain-default__content-title">
  <h1>
    木马活动
  </h1>
</div>

<nz-card [nzHoverable]="true">
  <button nz-button nzType="primary" (click)="open()" style="margin-bottom: 10px"><i nz-icon type="search"></i>{{ 'button.search' | translate }}</button>
  <nz-drawer
    [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzMaskClosable]="false"
    [nzWidth]="720"
    [nzVisible]="visible"
    nzTitle="搜索"
    (nzOnClose)="close()"
  >
  <form nz-form  [formGroup]="validateForm">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item class="form-item">
          <nz-form-label>源IP</nz-form-label>
          <nz-form-control class="form-control">
            <input formControlName="srcIP"  nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item class="form-item">
          <nz-form-label>目的IP</nz-form-label>
          <nz-form-control class="form-control">
            <input formControlName="desIP" nz-input/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item class="form-item">
          <nz-form-label>源端口</nz-form-label>
          <nz-form-control class="form-control">
            <input formControlName="srcPort"  nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item class="form-item">
          <nz-form-label>目的端口</nz-form-label>
          <nz-form-control class="form-control">
            <input formControlName="desPort"   nz-input />
           </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item class="form-item">
          <nz-form-label>协议类型</nz-form-label>
          <nz-form-control class="form-control">
            <input formControlName="protocol" nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item class="form-item">
          <nz-form-label>木马类型</nz-form-label>
          <nz-form-control class="form-control">
            <input formControlName="type" nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <nz-form-item class="form-item">
          <nz-form-label>威胁等级</nz-form-label>
          <nz-form-control class="form-control">
            <input formControlName="threatLevel"  nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item class="form-item">
          <nz-form-label>发现时间</nz-form-label>
          <nz-form-control class="form-control">
            <nz-range-picker formControlName="time" nzShowTime></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
    <div class="footer">
      <button nz-button type="submit" nzType="primary" (click)="search()">{{ 'button.search' | translate }}</button>
      <button nz-button nzType="primary" (click)="initForm()">{{ 'button.reset' | translate }}</button>
    </div>
  </nz-drawer>
  <nz-table #filterTable [nzData]="listOfDisplayData" nzBordered  nzShowPagination nzShowSizeChanger [nzShowQuickJumper]="true" [nzTotal]="total"
            nzFrontPagination="false"  [nzFooter]="'共'+total+'条数据'" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()" (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <thead>
    <tr>
      <th>源IP</th>
      <th>目的IP</th>
      <th>源端口</th>
      <th>目的端口</th>
      <th>协议类型</th>
      <th>木马类型</th>
      <th>威胁等级</th>
      <th>发现时间</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.srcIP }}</td>
      <td>{{ data.desIP }}</td>
      <td>{{ data.srcPort}}</td>
      <td>{{ data.desPort }}</td>
      <td>{{ data.protocol }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.threatLevel }}</td>
      <td>{{ data.time | date:"yyyy-MM-dd HH:mm:ss" }}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>




