<div class="alain-default__content-title">
  <h1>
    首页
    <small>Welcome !</small>
  </h1>
</div>
<div nz-row nzGutter="16">
  <div nz-col nzSpan="8" >
    <nz-card nzTitle="告警" style="height: 230px">
      <g2-card  [title]="'已处理'" [bordered]="true" total="{{handledNum}}" footer="全部警告 {{threatNum}}" contentHeight="60">
        待处理<trend flag="down" style="color: rgba(0,0,0,.85)">{{notHandleNum}}</trend>
      </g2-card>
    </nz-card>
  </div>
    <div nz-col nzSpan="8">
     <nz-card nzTitle="捕获报文">
       <div echarts #tooHard class="demo-chart" style="height: 170px;"></div>
     </nz-card>
   </div>
    <div nz-col nzSpan="8">
      <nz-card nzTitle="检测流量">
        <div echarts #FlowOption  class="demo-chart" style="height: 170px;"></div>
      </nz-card>
    </div>
</div>
    <nz-card>
      <!--地图-->
      <div style="float:left;width: 53%;height: 363px;">
        <div  echarts [options]="MapOption"  class="demo-chart" style="width: 100%;"></div>
      <!--  <div  echarts #MapChain class="demo-chart" style="width: 100%;"></div>-->
      </div>
      <div style="float:right;width: 47%">
        <!--木马IP统计-->
        <div echarts #TriIPTotal  class="demo-chart" style="width: 100%;height: 170px"></div>
       <!-- DNSIP统计-->
        <div echarts #DnsIPTotal  class="demo-chart" style="width: 100%;height: 170px"></div>
      </div>
    </nz-card>
<div nz-row nzGutter="16" >
    <div nz-col nzSpan="12">
      <nz-card nzTitle="威胁等级饼图">
      <div echarts #DnsBar class="demo-chart" style="width: 100%;height: 260px"></div>
      </nz-card>
    </div>
    <div nz-col nzSpan="12">
      <nz-card nzTitle="威胁等级堆叠图">
      <div echarts #ThrenOption  class="demo-chart" style="width: 100%;height: 260px"></div>
      </nz-card>
    </div>
</div>


