<!--<div class="alain-default__content-title">
  <h1>
    首页
    <small>Welcome !</small>
  </h1>
</div>-->
<div nz-row nzGutter="16" style="background: #292929;margin-top: 1px;padding:30px;">
  <div nz-col nzSpan="8">
      <div style="height: 210px;background-color: #292929;font-size: large;color:#d6e4ff">
       <h4 style="color:#d6e4ff">告警</h4>
        <pre>    待处理      {{notHandleNum}}</pre>
        <pre>    已处理      {{handledNum}}</pre>
        <nz-divider ></nz-divider>
        <pre>    全部警告    {{threatNum}}</pre>
      </div>
  </div>
  <div nz-col nzSpan="8">
       <h3 style="color:#d6e4ff">捕获报文</h3>
        <div echarts [options]="AaptureOption" class="demo-chart" style="height: 210px;"></div>
         <nz-select [(ngModel)]="AaptureMessageSelect" nzSize="small" (ngModelChange)="AaptureMessageSet()"
                  class="AaptureMessageSelect">
           <nz-option *ngFor="let option of AaptureMessageOptions" [nzLabel]="option.name" [nzValue]="option.id">
         </nz-option>
       </nz-select>
  </div>
  <div nz-col nzSpan="8">
    <h3 style="color:#d6e4ff">检测流量</h3>
      <div echarts [options]="FlowOption" class="demo-chart" style="height: 210px;"></div>
       <nz-select [(ngModel)]="DetectFlowSelect" nzSize="small" (ngModelChange)="DetectFlowSet()"
                  class="DetectFlowSelect">
           <nz-option *ngFor="let option of DetectFlowOptions" [nzLabel]="option.name" [nzValue]="option.id">
           </nz-option>
       </nz-select>
  </div>
</div>


<!--地图-->
<!--<div nz-row nzGutter="16" style="background: #292929;padding:30px;">
  <div  echarts [options]="Option"  class="demo-chart" style="width: 100%;">
  </div>
</div>-->





<div nz-row nzGutter="16"  style="background: #292929;padding:30px;">
  <div nz-col nzSpan="12">
    <h3 style="color:#d6e4ff">域名危险等级</h3>
      <div echarts [options]="DnsOption" class="demo-chart" style="width: 100%"></div>
  </div>
  <div nz-col nzSpan="12">
    <h3 style="color:#d6e4ff">威胁等级柱状图</h3>
    <div echarts [options]="ThrenOption" class="demo-chart" style="width: 100%"></div>
  </div>
</div>
<div nz-row nzGutter="16" style="background: #292929;padding:30px;">
  <nz-tabset [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="test1()" style="color: #d6e4ff" >
    <nz-tab nzTitle="木马IP统计"  style="color: #d6e4ff">
      <div echarts [options]="IPOption" class="demo-chart" style="height: 250px;"></div>
      <nz-select [(ngModel)]="TopSelect" nzSize="small" (ngModelChange)="TopSelectSet()"
                 class="TopSelect">
        <nz-option *ngFor="let option of TopOptions" [nzLabel]="option.name" [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </nz-tab>
    <nz-tab nzTitle="DNSIP统计" style="color: #d6e4ff">
      <div echarts [options]="DnsIPOption" class="demo-chart" style="height: 250px;"></div>
      <nz-select [(ngModel)]="DnsTopSelect" nzSize="small" (ngModelChange)="DnsTopSelectSet()"
                 class="TopSelect">
        <nz-option *ngFor="let option of DnsTopOptions" [nzLabel]="option.name" [nzValue]="option.id">
        </nz-option>
      </nz-select>
    </nz-tab>
  </nz-tabset>
</div>
