.aletDistributeSelect, .AaptureMessageSelect, .DetectFlowSelect,.TopSelect,.FlowSelect {
  position: absolute;
  right: 1%;
  top: 6%;
  width: 110px;
}
 .threatenSelect {
  position: absolute;
  right:0.6%;
  top: 2.5%;
  width: 110px;
}

 .tableTr{
   background: #292929;
   color: #d6e4ff
 }
.tableTd{
  background: #292929;
  color: #d6e4ff
}
.nz-tabset > li.active > a, .nz-tabset > li.active > a:hover, .nz-tabset > li.active > a:focus {
  color: red;
}
