<div class="alain-default__content-title">
  <h1>
    首页
    <small>Welcome !</small>
  </h1>
</div>
<div nz-row nzGutter="16">
  <div nz-col nzSpan="8">
    <nz-card nzTitle="告警">
      <g2-card [title]="'已处理'" [bordered]="true" total="{{handledNum}}" footer="全部警告 {{threatNum}}" contentHeight="60">
        待处理<trend flag="down" style="margin: 25px 0 0 8px; color: rgba(0,0,0,.85)">{{notHandleNum}}</trend>
      </g2-card>
    </nz-card>
  </div>
    <div nz-col nzSpan="8">
     <nz-card nzTitle="捕获报文">
       <div echarts [options]="AaptureOption" class="demo-chart" style="height: 200px;"></div>
     </nz-card>
   </div>
    <div nz-col nzSpan="8">
      <nz-card nzTitle="检测流量">
      <div echarts [options]="FlowOption" class="demo-chart" style="height: 200px;"></div>
      </nz-card>
    </div>
</div>

<!--地图-->
<!--<div nz-row nzGutter="16" >-->
 <!-- <div nz-col nzSpan="12">-->
    <nz-card>
      <div style="float:left;width: 53%;height: 363px;">
        <div  echarts [options]="Option"  class="demo-chart" style="width: 100%;">
        </div>
      </div>

      <div style="float:right;width: 47%">
        <nz-tabset [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="test1()" >
          <nz-tab nzTitle="木马IP统计" >
            <div echarts [options]="IPOption" class="demo-chart" style="width: 100%;"></div>
          </nz-tab>
          <nz-tab nzTitle="DNSIP统计">
            <div echarts [options]="DnsIPOption" class="demo-chart" style="width: 100%;"></div>
          </nz-tab>
        </nz-tabset>
      </div>

    </nz-card>
 <!-- </div>-->
 <!-- <div nz-col nzSpan="12">
    <nz-card>
      <nz-tabset [(nzSelectedIndex)]="tabIndex" (nzSelectChange)="test1()">
        <nz-tab nzTitle="木马IP统计" >
          <div echarts [options]="IPOption" class="demo-chart" style="width: 100%;height: 300px"></div>
        </nz-tab>
        <nz-tab nzTitle="DNSIP统计">
          <div echarts [options]="DnsIPOption" class="demo-chart" style="width: 100%;height: 300px"></div>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </div>-->
<!--</div>-->

<div nz-row nzGutter="16" >
    <div nz-col nzSpan="12">
      <nz-card nzTitle="域名危险等级">
      <div echarts [options]="DnsOption" class="demo-chart" style="width: 100%;height: 260px"></div>
      </nz-card>
    </div>

    <div nz-col nzSpan="12">
      <nz-card nzTitle="威胁等级柱状图">
      <div echarts [options]="ThrenOption" class="demo-chart" style="width: 100%;height: 260px"></div>
      </nz-card>
    </div>
</div>


