<div class="alain-default__content-title">
  <h1>
    木马流量视图
  </h1>
</div>
  <nz-card nzTitle="流量视图"  [nzHoverable]="true">
    <div echarts [options]="FlowOption" class="demo-chart" style="width: 100%"></div>
    <nz-select [(ngModel)]="FlowSelect" nzSize="small" (ngModelChange)="changeTime()" class="FlowSelect">
      <nz-option *ngFor="let option of FlowOptionsDate" [nzLabel]="option.name" [nzValue]="option.id">
      </nz-option>
    </nz-select>
  </nz-card>
  <nz-card nzTitle="木马传染源分布">
    <nz-table #nestedTable [nzData]="listOfParentData" [nzPageSize]="10">
      <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>
          <td nzShowExpand [(nzExpand)]="data.expand"></td>
          <td>传染源IP:{{ data.name }}</td>
        </tr>
        <tr [nzExpand]="data.expand">
          <td></td>
          <td colspan="7">
            <nz-table #innerTable [nzData]="listOfChildrenData" nzSize="middle" [nzShowPagination]="false">
      <tbody>
      <tr *ngFor="let data of innerTable.data">
        <td>被传染源IP:{{ data.date }}</td>
      </tr>
      </tbody>
    </nz-table>
    </td>
    </tr>
    </ng-template>
    </tbody>
    </nz-table>
  </nz-card>

