<div class="alain-default__content-title">
  <h1>
    木马活动
  </h1>
</div>

  <nz-card [nzHoverable]="true">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" class="search-form">
      <nz-form-item class="form-item">
        <nz-form-control class="form-control">
          <nz-range-picker formControlName="DiscoveryTime" nzShowTime></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-form-control class="form-control">
            <input formControlName="SrcIp" style="width: 450px" nz-input placeholder="输入源IP、目的IP、协议类型、木马类型、威胁等级......" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-form-control class="form-control">
          <nz-input-number formControlName="SrcPort"  [nzPlaceHolder]="'源端口'" [nzMin]="0" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-form-control class="form-control">
          <nz-input-number formControlName="SrcPort"  [nzPlaceHolder]="'目的端口'" [nzMin]="0" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-form-control class="form-control">
          <button nz-button type="submit" nzType="primary" (click)="search()"><i nz-icon type="search"></i>{{ 'button.search' | translate }}</button>
          <button nz-button nzType="primary" (click)="initForm()">{{ 'button.reset' | translate }}</button>
        </nz-form-control>
      </nz-form-item>
    </form>
      <nz-table #filterTable [nzData]="listOfDisplayData" nzBordered  nzShowPagination nzShowSizeChanger (nzCurrentPageDataChange)="currentPageDataChange($event)">
        <thead>
        <tr>
          <th>源IP</th>
          <th>目的IP</th>
          <th>源端口</th>
          <th>目的端口</th>
          <th>协议类型</th>
          <th>木马类型</th>
          <th>威胁等级</th>
          <th>发现时间</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of filterTable.data">
          <td>{{ data.SrcIp }}</td>
          <td>{{ data.DstIp }}</td>
          <td>{{ data.SrcPort}}</td>
          <td>{{ data.DstPort }}</td>
          <td>{{ data.ProtocolType }}</td>
          <td>{{ data.HorseType }}</td>
          <td>{{ data.ThreatLevel }}</td>
          <td>{{ data.DiscoveryTime }}</td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>




